CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# Vscode folder
.vscode
# CMake build dirs.
build
# CMake tools local config file.
cmake-variants.yaml